name: Build and Push Docker image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      OWNER: ${{ github.repository_owner }}
      OWNER_LC: ${{ (github.repository_owner) }}

    steps:
    - name: Convert owner to lowercase
      id: lower
      run: echo "OWNER_LC=${OWNER,,}" >> $GITHUB_ENV

    - name: Checkout
      uses: actions/checkout@v3

    - name: Log in to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ secrets.GITHUB_ACTOR }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ghcr.io/${{ env.OWNER_LC }}/telegram-mathjax-bot:latest
